@import "tailwindcss";

@theme {
  --color-bg-primary: #eaeaea;
  --color-bg-secondary: #d9d9d9;
  --color-text-primary: #1a1a1a;
  --color-accent-red: #ba3434;
  --color-accent-blue: #3c5496;
}

body {
  margin: 0;
}

html,
body,
#app {
  min-height: 100%;
}
